:root {
  /* LIGHT MODE */
  --main-color-light: #fffcf1;
  --secondary-color-light: #ffffff;
  --accent-color-light: #f3b700;
  --background-color-light: #fffcf1;

  /* DARK MODE (implementuju pozdějc) */
  --main-color-dark: #252525;
  --secondary-color-dark: ;
  --accent-color-dark: #308280;
  --background-color-dark: #252525
}
@font-face {
  font-family: "Roboto";
  src:
    url("./assets/Roboto.ttf") format("TrueType");
}

html {
  font-size: 100%;
}
body {
  background-color: var(--background-color-light);

  margin: 0;
}
* {
  font-family: Roboto;
}
a {
  color: unset;
  text-decoration: none;
}
