/* BASE VALUES and DEFAULT STYLES */
:root {
  /* LIGHT MODE */
  --main-color-light: #fffcf1;
  --secondary-color-light: #ffffff;
  --accent-color-light: #f3b700;
  --background-color-light: #fffcf1;

  /* DARK MODE (implementuju pozdějc) */
  --main-color-dark: #252525;
  --secondary-color-dark: ;
  --accent-color-dark: #308280;
  --background-color-dark: #252525
}
@font-face {
  font-family: "Roboto";
  src:
    url("./assets/Roboto.ttf") format("TrueType");
}

html {
  font-size: 100%;
}
body {
  background-color: var(--background-color-light);

  margin: 0;
}
* {
  font-family: Roboto;
}
a {
  color: unset;
  text-decoration: none;
}



/* EVERY PAGE HAS A NAVBAR */
#topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  top: 0;
  position: sticky;
  width: 100vw;
  height: 8vh;
  min-height: 80px;
  margin-bottom: 60px;

  background-color: var(--main-color-light);
  border-bottom: 2px solid var(--accent-color-light);
  border-radius: 0 0 12px 12px;
}
#leftNavAbs {
  position: absolute;
  left: 0;

  height: 100%;
  width: 10%;
  border-right: 2px solid var(--accent-color-light);
}
#navTriangle {
  position: absolute;
  width: 0;
  height: 0;

  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid var(--accent-color-light);
}
.navElement {
  position: relative;
  width: auto;
}
/* UNDERLINE HOVER EFFECT */
.navElement::before {
  content: "";
  position: absolute;
  top: 90%;
  left: -5%;
  z-index: -1;

  width: 110%;
  height: 3px;

  background: linear-gradient(to right, var(--accent-color-light) 49%, transparent 50%);
  background-size: 200%;

  background-position: 100%;
  transition: background-position 300ms ease-out;
}
.navElement:hover::before {
  background-position: 0%;
}
.navElement a {
  font-size: 1.6em;
}

/* SUBSTITURE FOR <hr> WITH ACCET COLOR */
div.breakLine {
  position: relative;
  width: 100%;
  border-top: 2px solid var(--accent-color-light);
}
