body{
    background: var(--secondary-color);
    background: linear-gradient(
      350deg,
      rgba(255,128,0,1) 0%,
      rgba(255,162,0,0.8) 4%,
      rgba(100,0,150,0.9) 50%,
      rgba(12,0,170,1) 100%
    );
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px;

    width: 80vw;
    margin: 70px auto;
}

.contactCard {
    border-radius: 0 0 0 15px;
    display: flex;
    background-color: rgba(255,255,255,0.4);
    position: relative;

    width: 600px;
    height: clamp(150px, 15vh, 15vh);
    align-items: center;
    margin: 20px 0;
}

.contactCard img {
    border: 5px solid transparent;
    box-sizing: border-box;

    height: 100%;
    aspect-ratio: 1;
    border-radius: inherit;

    margin-right: 20px;
}

.contactCard > div {
    display: flex;
    flex-direction: column; /* Stack name and description vertically */
    justify-content: center;
    width: auto;
    margin: 8px 10px 8px 0;
}

.contactName {
    align-self: flex-start;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1%;
}

.contactDescription {
    font-size: 1.3em;
}
.contactDescription p {
  margin: 0;
}
#tele::before { content: "☎️ "; font-weight: bold; transition: all 400ms linear; }
#mail::before { content: "✉️ "; font-weight: bold; transition: all 400ms linear; }

@media (max-aspect-ratio: 1/1) {
  .contactCard > img {
    margin-right: 0;
    max-width: 30vw;
    max-height: clamp(0px, 100%, 30vw);
  }
  #container {
    width: 90vw;
    margin: 12px auto;
  }
  .contactCard {
    width: 100%;
    height: unset;
    max-height: 16vh;
  }
  .contactName {
    padding-top: 5px;
    font-size: clamp(0px, 1.6em, 7vw);
    margin-bottom: 2%;
  }
  .contactDescription {
    font-size: clamp(0px, 1.3em, 4vw);
    padding-bottom: 5px;
  }
  #tele::before { position: absolute; right: 2px; }
  #mail::before { position: absolute; right: 2px; }
}
