body{
    background: #fffcf1;
    background: linear-gradient(350deg, rgba(255,128,0,1) 0%, rgba(255,162,0,0.8) 4%, rgba(100,0,150,0.9) 50%, rgba(12,0,170,1) 100%);
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 8px;

    width: 80vw;
    margin: 70px auto;
}

.contactCard {
    border-radius: 0 0 0 15px;
    display: flex;
    background-color: rgba(255,255,255,0.4);
    position: relative;

    width: 550px;
    align-items: center;
    margin: 20px 0;
}

.contactCard img {
    margin-left: 1.5%;
    margin-right: 3%;
    width: 20%;
    max-height: 90%;
    border-radius: 0 0 0 10px;
}

.contactCard > div {
    display: flex;
    flex-direction: column; /* Stack name and description vertically */
    justify-content: center;
    width: 70%; /* Takes up remaining space */
    margin: 8px 0;
}

.contactName {
    align-self: flex-start;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1%;
}

.contactDescription {
    font-size: 1.3em;
}

@media (max-aspect-ratio: 1/1) {
    .contactName {
        font-size: 1.4em; /* 3/4 of 2vw */
        margin-bottom: 2%;
    }

    .contactDescription {
        font-size: 1em; /* 3/4 of 1.5vw */
    }
}
