#mainImageDiv {
  width: calc(100% - 20px);
  min-height: 600px;
  margin: 10px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#mainImage {
  position: absolute;
  width: 100%;
}
#mainTextParent {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--accent-color-light);
  border-radius: 12px;
  background: linear-gradient(140deg, #00000020 55%, #ffffff40 85%);
  backdrop-filter: blur(14px);

  width: 50%;
}
#mainTextParent > h1 {
  text-align: center;
  font-size: 3.2em;

  color: var(--main-color-light);

  margin-bottom: 2px;
  margin-top: 50px;
}
#mainTextParent > p {
  text-align: center;
  font-size: 1.5em;

  color: var(--main-color-light);

  margin-top: 2px;
  margin-bottom: 50px;
}

#buyTicketDiv {
  width: 40%;
  margin-top: 5px;
  margin-bottom: 35px;

  border: 2px solid var(--accent-color-light);
  border-radius: 7px;
  background-color: #00000050;

  text-align: center;
  color: white;

  transition: transform 500ms ease-out;
}
#buyTicketDiv:hover {
  transform: scale(1.05);
}
#buyTicketDiv > h2 {
  font-size: 1.8em;
}
#buyTicketDiv > p {
  font-size: 1.2em;
}
