#mainAboutDiv {
  width: 60%;
  margin: 70px auto;
}
#mainAboutDiv > h1 {
  font-size: 3em;
  text-align: center;
}
#mainAboutDiv p {
  font-size: 1.2em;
}
@media (max-width: 1200px) {
  #mainAboutDiv { width: 80% !important; }
  #mainAboutDiv p { font-size: 1.1em !important;}
}

#presentationDiv {
  position: relative;
  width: 90%;
  aspect-ratio: 16/9;
  margin: 30px auto;

  border: 2px solid var(--accent-color);
  border-radius: 12px;

  padding: 10px;
  background: #242424;
}
#presentationDiv > img {
  position: relative;
  max-width: 100%;
}
.arrow {
  position: absolute;
  bottom: 8px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 1;
  cursor: pointer;
}
.left { border-right: 40px solid var(--accent-color); left: 8px; }
.right { border-left: 40px solid var(--accent-color); right: 8px; }
@media (max-width: 1200px) {
  #presentationDiv {
    width: 100%;
    left: 0;
    box-sizing: border-box;
  }
  .left, .right { border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
  .left { border-right: 15px solid var(--accent-color); }
  .right { border-left: 15px solid var(--accent-color); }
}

#showcaseImageDiv {
  columns: 400px;
  margin: 100px 20px;
}
#showcaseImageDiv img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
}
.a:has(img:hover),
.b:has(img:hover) {
  transform: scale(1.05);
}
.a, .b { transition: all 500ms ease-out; }

.a, .b { position: relative; }
.a::before, .b::after {
  position: absolute;
  color: var(--accent-color);
  font-size: 2em;
  bottom: 14px;
  backdrop-filter: blur(6px);

  padding: 1px 4px;
  background: color-mix(in srgb, var(--contrast-color) 60%, transparent);
  border-radius: 12px;

  z-index: 1;

  pointer-events: none;
}
.a::before {
  content: "8.A";
  left: 0;
}
.b::after {
  content: "8.B";
  right: 0;
}

@media (max-width: 1200px) {
  #showcaseImageDiv { columns: 2; }
}
