#mainAboutDiv {
  width: 60%;
  margin: 70px auto;
}
#mainAboutDiv > h1 {
  font-size: 3em;
  text-align: center;
}
#mainAboutDiv p {
  font-size: 1.2em;
}
@media (max-width: 1200px) {
  #mainAboutDiv { width: 80% !important; }
  #mainAboutDiv p { font-size: 1.1em !important;}
}

#showcaseImageDiv {
  columns: 400px;
  margin: 100px 20px;
}
#showcaseImageDiv img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
  transition: all 500ms ease-out;
}
#showcaseImageDiv img:hover {
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  #showcaseImageDiv { columns: 2; }
}
