#headerRect {
  position: absolute;

  width: 50%;
  height: clamp( 80px, 25%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--accent-color);
  border-radius: 12px;
  background: linear-gradient(40deg, #00000030 60%, #ffffff80);
  backdrop-filter: blur(14px);
}

#title {
  color: var(--secondary-color-firm);
  font-size: 3em;
  font-weight: 900;
}

#topImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 80vw;
  height: clamp(250px, 40vh, 40vh);
  margin: 40px auto 20px auto;
  border-radius: 12px;

  overflow: hidden;
}
#topImageDiv > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
  animation: objectUpDown 30s infinite alternate ease-in-out;
}
@media (max-width: 1200px) {
  #topImageDiv {
    width: 90vw;
    height: clamp(100px, 22vh, 22vh);
  }
  #headerRect { height: 40%; }
  #title { font-size: 2.2em; }
}

#events {
  /* border-left: 4px solid var(--accent-color); */
  position: relative;

  width: 60%;
  padding: 60px;
  margin: 10px auto 60px auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
#events::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -4px;
  height: 90%;
  width: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.eventCard {
  position: relative;
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px;

    background: var(--secondary-color);
    border-left: 6px solid var(--accent-color);
    border-radius: 12px;
    box-shadow: 0 2px 15px var(--contrast-color);

    font-size: 1.2em;
    color: var(--contrast-color);
    transition: transform 200ms ease-out;
}
.eventCard::before {
  content: "";
  position: absolute;
  left: calc(-6px - 60px - 14px - 2px);
  width: 20px;
  height: 20px;
  border: 4px solid var(--contrast-color);
  border-radius: 20px;
  background-color: var(--accent-color);

}
@media (max-width: 1200px) {
  #events::before    { display: none; }
  .eventCard::before { display: none; }
  #events {
    width: 90%;
    padding: 0;
  }
}
.eventTime {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--accent-color);
    min-width: 80px;
    text-align: center;
}

.eventInfo {
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.eventDescription {
    font-size: 1em;
    color: var(--contrast-color);
    opacity: 0.8;
}
