#topBar {
    position: fixed;
}

.offset {
    display: block;
    height: 2vh;
    width: 100%;
}
#sideImage {
    background-image: url("../assets/map.svg");
    height: 1055px;
    width: 223px;
    display: flex;

    position: absolute;
    background-size: cover;
    margin-top: 10px;
    margin-left: 75vw;
}

.eventCard {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 60%;
    margin-left: 10vw;
    margin-bottom: 20px;
    padding: 15px;

    background: var(--secondary-color-light);
    border-left: 6px solid var(--accent-color-light);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-size: 1.2em;
    color: var(--contrast-color-light);
    transition: transform 200ms ease-out;
}

.eventCard:hover{
    transform: scale(1.03);
}

.eventTime {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--accent-color-light);
    min-width: 80px;
    text-align: center;
}

.eventInfo {
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.eventDescription {
    font-size: 1em;
    color: #333;
    opacity: 0.8;
}


.headerRect {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25vw;
    margin-left: 20vw;

    justify-content: center;

    top: 3vh;

    width: 60vw;
    height: 10vh;
    background-color: #D3D3D3;
    background-color: rgba(211,211,211,0.7);
    border-radius: 10px;
    color: #D3D3D3;
    background: linear-gradient(140deg, #00000020 55%, #ffffff40 85%);
    backdrop-filter: blur(14px);
}

#title {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 900;
}

.topImage {
    background-image: url("../assets/programTopImage.png");
    display: flex;
    position: relative;
    width: 100vw;  /* Always full width */
    height: auto;  /* Allow height to adjust */
    min-height: 60vw; /* Ensures visibility on tall screens */

    background-size: contain; /* Ensures the whole image is visible */
    background-repeat: no-repeat; /* Prevents tiling */
}


#taskBar {
    position: fixed;
}

@media (max-aspect-ratio: 1/1){
    #sideImage{
        display: none;
    }
    .eventCard{
        width: 78%;
        margin-left: 11%;
        box-sizing: border-box;
    }
    #title {
        font-size: 2em;
    }
    .eventTitle {
        font-size: 1em;
    }
    .eventDescription {
        font-size: 0.8em;
    }
    .eventTime {
        font-size: 1.3em
    }
}
