h1, h2 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: justify;
}

hr {
    border-top: 2px solid var(--accent-color-light);
    margin: 2rem 0;
}

img {

}

.mainContent {
    padding: 0 10%;
}

#generalInfo {
    margin-bottom: 4rem;
}

.sponsor {
    display: grid;
    grid-auto-columns: auto;
    gap: 2rem;
}

.sponsor > * {
    grid-row: 1;
}

.sponsorImage {
    grid-column: 1;
}

.sponsorInfo {
    grid-column: 2;
}