h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 4rem;
}

h2 {
    margin-top: 0;
}

p {
    text-align: justify;
}

hr {
    border-top: 2px solid var(--accent-color-light);
    margin-bottom: 2rem;
}

.carpet {
    min-height: 50px;
    color: white;
    background-image: url("/assets/carpet_2_sat.png");
    background-repeat: repeat-x;
    border: none;
}

.mainContent {
    padding: 0 10%;
}

.sponsor {
    display: grid;
    grid-auto-columns: auto;
    gap: 2rem;
}

.sponsor > * {
    grid-row: 1;
}

.sponsorImage {
    grid-column: 1;
}

.sponsorInfo {
    grid-column: 2;
}